<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quote Dashboard</title>
    {% load static %}
    <meta charset="utf-8">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'django_app\css\styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'django_app/css/bulma/css/bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'django_app/css/bulma/css/main.css' %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'django_app/javascript/coin_page.js' %}"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <h3>Welcome {{user.fname}} {{user.lname}} </h3>
                </h1>
                <h4 class="subtitle"><a href = '/users/{{user.id}}'>Your Graphs</a></h4>
                <a href ='/users/logout'><button class = 'logout'>Logout</button></a>
            </div>
        </div>  
    </section>
    <div class="columns">
        <div class="column">
          <p>This page will be given all the coins we have on database and display the historical data for the coins. For advanced the user should be able to choose coins to follow or unfollow for analysis. For advanced the graphs will be interactive and allow the user to see datapoints and prices when they move their mouse over the graph screen. There should be a button that leads to my graphs and you should be able to click on the coins to go to the homepage.</p>
      </div>
  </div>
  <div class="column">
    <div class="columns">
        <div class="column">
            <h1 class="title"><a href="/coin/1/0">Bitcoin</a></h1>
          <div class="columns">
            <svg class="line-chart">

                <script>
                    var data = parseData({{coin1 |safe}});
                    drawChart2(data, ".line-chart");   
                </script>  
            </svg>
            <div class="infobox" style="visibility: hidden;">
              <h3 class="title">Coin </h3>
              <h4 class="Price">Coin Price</h4>
              <p>Time: <strong class="reported">year</strong></p>
              <p>price: <strong class="price">published</strong></p>
          </div>
        </div>
    </div>
    <div class="column">
        <h1 class="title"><a href="/coin/825/0">Tether</a></h1>
        <div class="columns">
            <svg class= "bar-chart">
                <script>
                        // var data_from_django2 = {{coin2 |safe}};
                        var data2 = parseData({{coin2 | safe}});
                        drawChart2(data2, ".bar-chart");
                    </script>
                </svg>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <svg class=""> 

            </svg>
        </div>
        
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
            </div>
        </nav>
    </div>
</div>
</body>
</html>
