<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coin</title>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'django_app/css/bulma/css/bulma.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'django_app/css/bulma/css/main.css' %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'django_app/javascript/coin_page.js' %}"></script>
</head>

<body>
    <section class="hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{coins.data.name}}
                </h1>
                <h2 class="subtitle">
                    Price: ${{coins.data.quotes.USD.price}}
                </h2>
            </div>
        </div>  
    </section>
    <div class="columns">
        <div class="column">
            <p>{{coins.data.name}} has a suppy of {{coins.data.total_supply}} and a total 
                market cap of {{coins.data.quotes.USD.market_cap}}
            </p>
        </div>
    </div>
    <div class="bar-chart column">
        <svg class="line-chart">
            <script>
                var data = parseData({{prices |safe}})
                drawChart(data, ".line-chart");   
            </script>
        </svg>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        
                        <li><a href="/coin/{{coins.data.id}}/7">1 Week</a></li>
                        <li><a href="/coin/{{coins.data.id}}/30">30 day</a></li>
                        <li><a href="/coin/{{coins.data.id}}/365">1year</a></li>
                        <li><a>custom range:</a></li>
                        <form action="/coin/{{coins.data.id}}/custom" method="post">
                            {%csrf_token%}
                        <li><input class="input" type="date" name="start"></li>
                        <li><input class="input" type="date" name="end"></li>
                        <input class="button" type="submit" name="btn">
                        <a href ='/users/logout'><button class="button is-link">Logout</button></a>
                        <!-- <a href ="/user/2"><button class="button is-link">Your Graphs</button></a> -->
                        </form>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</body>
</html>
