<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mellon</title>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'django_app\css\styles.css' %}">
    </head>
    
    <body>
        <div class='wrapper'>
            <p>This page will  display the historical graph of one coin that is clicked on from the homepage. Data includes historical data of whichever coin is clicked, with the date-range and perhaps significant statistical changes</p>
        </div>
</body>
</html>