<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
        <title>Make a Graph</title>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'django_app/css/bulma/css/bulma.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'django_app/css/bulma/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'django_app/css/styles' %}">
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'django_app/javascript/coin_page.js' %}"></script>
    </head>
    <body>
        <div class="block">
            <div class="box">
                <h1 class="title">Create Your Own Graph.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.</p>
                <a href ="/users/{{user_id}}" class="button is-link">Back to Your Graphs</a>
                <a href ="/graphs" class="button is-link">Homepage</a>
            </div>
        </div>
        <div class="block">
            <form method = 'post' action = '/graphs/analyze/1'>
                {% csrf_token %}

                    <div class="columns">
                        <div class="creategraph">
                            <article class="message is-warning">
                                <div class="message-header column">
                                    <h1 class="title">X Axis Coin</h1>
                                </div>
                                <div class="message-body">
                                    <p>ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.</p>
                                    <select name = 'x_coin'> <!-- X axis coin -->
                                        <option value = '1'>Bitcoin</option>
                                        <option value = '825'>Tether</option>
                                    </select>
                                    <select name = 'x_key'> <!-- X axis key-->
                                        <option value = 'time'>Time</option>
                                        <option value = 'price'>Price</option>
                                    </select>
                                </div>
                            </article>
                        </div>
                        <div>
                            <div class="column">

                            </div>
                        </div>
                        <div>
                            <div class="creategraph">
                                <article class="message is-warning">
                                    <div class="message-header column">
                                        <h1 class="title">Y Axis Coin</h1>
                                    </div>
                                    <div class="message-body">
                                        <p>ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quia.</p>
                                        <select name = 'y_coin'> <!-- Y axis coin-->
                                            <option value = '1'>Bitcoin</option>
                                            <option value = '825'>Tether</option>                        
                                        </select>
                                        <select name = 'y_key'> <!-- Y axis key-->
                                            <option value = 'time'>Time</option>
                                            <option value = 'price'>Price</option>
                                        </select>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="box">
                        <h1 class="subtitle">Beginning Date</h1>
                        <input class="input" type="date" name="start"> <!-- beginning date -->
                        <h1 class="subtitle">End Date</h1>

                        <input class="input" type="date" name="end"> <!-- end date of analysis -->
                        <p>Applied Function:</p>
                        <select name = 'stat_func'> <!-- function -->
                            <option value = 'plot'>Plot</option>
                        </select>
                        <button class='logout'>Make Plot</button>
                    </div>
                </div>
            </form>
        </div>    
        <!-- <div class="notification is-link"></div>
        <div class="notification is-link"></div>
        <div class="notification is-link"></div>
        <div class="notification is-link"></div>
        <div class="notification is-link"></div>
        <div class="notification is-link"></div>
        <div class="notification is-link"></div>
        <div class="notification is-link"></div> -->
    </body>
</html>