<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Mellon</title>
                {% load static %}
                <meta charset="utf-8">
                <link rel="stylesheet" type="text/css" href="{% static 'django_app\css\styles.css' %}">
            </head>
            
            <body>
                <div class='wrapper'>
                    <p>This page is the user's create graph page. Data includes which coin(s) they wish to analyze, a chosen date range for the analysis, and the function the user wishes to apply (such as correlation or anything else statistical). For an advanced, we would display the results dynamically of any function the user potentially create.</p>
                    <p>This page will post to the user's graphs page</p>
                    <a href = "/users/{{user_id}}">Back to Your Graphs</a>
                    <a href = "/graphs">Homepage</a>
                </div>
    
</body>
</html>