<html>

<head>
    <title>Your Graphs</title>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'django_app\css\styles.css' %}">
</head>

<body>
    <div class='wrapper'>
        <h3>{{full_name}}'s Graphs</h3>
        <p>This page will list out all the user's graphs and allow the user to post any graph to social media. There will also be a button to make a graph, which redirects to the make a graph page.</p>
        <p>This page will have any of the user's saved graphs or analyses they did in the past. Perhaps this page will have any of their followed coin graphs.</p>
        <p>Your Email: {{email}}</p>
        <p>Your ID: {{ID}}</p>
        <p>Account Creation: {{created_at}}</p>
        {% if messages %} {% for message in messages %}
        <h6>{{message}}</h6>
        {% endfor %} {% endif %}
        {% for i in iterator %}
        <div class = 'graphbox'>
            <img src = "{% static 'django_app\img' %}\examplebcplot{{i}}.svg"  alt = "{% static 'django_app\img' %}/whitesquare.png">
            <form action = '/graphs/analyze/{{i}}'>
                <button>Add Graph</button>
            </form>
            <form action = '/graphs/analyze/{{i}}/delete'>
                <button>Add Graph</button>
            </form>
        </div>
        {% endfor %}
        <form action='/graphs'>
            <button class='logout' type='submit'>Homepage</button>
        </form>
        <form action='/users/{{ID}}/edit'>
            <button class='logout' type='submit'>Edit Your Account</button>
        </form>
        <form action='/users/logout'>
            <button class='logout' type='submit'>Logout</button>
        </form>
        <a href = "/graphs/dashboard/{{ID}}"><button>Make A graph</button></a>
    </div>
</body>

</html>