/*This is a default CSS document*/
*{
    padding:0px;
    margin:0px;
    /* border:red dashed 1px; */
    text-align:center;
}
/*This is the start of the webpage*/
h6{
    color:darkred;
}
.wrapper{
    min-height:1700px;
    min-width:1000px;
    background-color:silver;
}
    /*Define the classes below*/
    .entry_field{
        height:100px;
        width:100%;
        margin:auto;
    }
        .entry_field input{
            text-align:left;
        }
    .login input{
        text-align:left;
    }
    .login button{
        display:block;
        margin:auto;
        margin-top:5px;
    }
    .graphbox{
        display:inline-block;
        width:35%;
    }
    .move{
        margin-left:1000px;
    }
    
        .area{
            height:100px;
            width:150px;
        }
    
    .logout{
        background-color:skyblue;
        border:black solid 1px;
        border-radius:2px;
        padding:5px;
    }